<h3>Home Page</h3>
<p>Welcome to <%= @owner.name %>'s page</p>
<p>Since my birthday is <%= @owner.birthdate %></p>
<p>I can watch R-rated movies. <%= @owner.countdown %> days until the next birthday!</p>
